
.DS_Store
TalktuahCommunicaterServer/.vs/TalktuahCommunicaterServer/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/TalktuahCommunicaterServer/.vs/TalktuahCommunicaterServer/CopilotIndices
/TalktuahCommunicaterServer/.vs/TalktuahCommunicaterServer/DesignTimeBuild
/TalktuahCommunicaterServer/.vs/TalktuahCommunicaterServer/FileContentIndex
/TalktuahCommunicaterServer/.vs/TalktuahCommunicaterServer/v17
/TalktuahCommunicaterClient/.vs/TalktuahCommunicaterClient/FileContentIndex
/TalktuahCommunicaterClient/.vs/TalktuahCommunicaterClient/DesignTimeBuild
/TalktuahCommunicaterClient/.vs/TalktuahCommunicaterClient/v17
/TalktuahCommunicaterClient/.vs/TalktuahCommunicaterClient/CopilotIndices
